<div id="page-backer">
  <header class ="container-fluid group">

    <div class= "jumbotron">
      <div class="myhero-sm motto">You Say It. <br> We Spray It.</div>
      <%# link_to "Sign up!", signup_path, class: "btn btn-signup btn-lg" %> 
    </div>

  </header>
</div>