<h2 class="text-center mt-2">Articles List</h2>
<!--Utilizing the will_paginate gem to include pagination in the rendering of the articles listing -->
<div class="apple_pagination">
  <%= will_paginate @posts, container: false %>
</div>

<%= render "posts/post" %>

<div class="apple_pagination">
  <%= will_paginate @posts, container: false %>
</div>