.button_to {
display: inline;
}

.button_to div {
display: inline;
}

.mysaveicon {
  margin-top: 6px;
  margin-left: 5px !important;
  width: 24px;
  height: 24px;
  background-image: url("../images/floppy.svg");
  background-color: transparent;
  border: transparent;
}

