.jumbotron {
  margin: 20px 100px;
  padding: 40px;
  background-color: #68adf3;
  border: round;
  text-align: center;
  background-image: url("../images/AlphaBlog_HomeImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.btn-signup {
  border-radius: 10px !important;
  border-color: black !important;
  color: blue !important;
  background-color:lightgreen  !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-weight: 400 !important;
  letter-spacing: .5px !important;
  margin: 0 !important;
  position: relative !important;
  top: 115px !important;
  left: -10px !important;
}

.btn-signup:hover {
  color:  wheat !important;
  background-color: blue !important;
}
