<div class="row justify-content-md-center">
  <div class="col-6 mt-2">
    <div class="card text-center shadow rounded">
      <div class="card body" id="page-background">
        <h5 class="card-title">Category: <%= @category.name %></h5>       
        <div class="card card-body mt-1 text-bg-light">
          <p class="card-text"><%= @category.description if @category.description? %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-6 mt-2">
    <div class="card text-center shadow mb-2 bg-white rounded">
        
      <% if @category.posts.any? %>
        <h5 class="text-center mt-2">Posts in Category: <%= @category.name %></h5>
        <%= render "posts/post" %>
      <% end %>

    </div>
  </div>
</div>