<div class="container">
  <% flash.each do |msg_type, msg| %>
    <% if msg_type == "notice" %>
      <% msg_display_type = "alert-primary"%>
    <% end %>
    <% if msg_type == "warning" %>
      <% msg_display_type = "alert-warning"%>
    <% end %>
    <% if msg_type == "alert" %>
      <% msg_display_type = "alert-danger"%>
    <% end %>

    <div class="alert <%= msg_display_type %> alert-dismissible fade show" role="alert">
      &#9757; <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>